

// @import url("./variables.css"); 不能用这种方式导入,无法识别,会当作css的导入,导致全局配置注入报错

@import "variables.scss";


@mixin border($w:1px, $s:solid, $c:$border-color) {
    border:$w $s $c;
}
@mixin border-b($w:1px, $s:solid, $c:$border-color) {
    border-bottom:$w $s $c;
}
@mixin border-t($w:1px, $s:solid, $c:$border-color) {
    border-top:$w $s $c;
}
@mixin border-l($w:1px, $s:solid, $c:$border-color) {
    border-left:$w $s $c;
}
@mixin border-r($w:1px, $s:solid, $c:$border-color) {
    border-right:$w $s $c;
}
